In [105]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [106]:
# Loading data
file_path = Path("Resources/clean_data.csv")
df1 = pd.read_csv(file_path)
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,1,1,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
2,2,0,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
3,3,0,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
4,4,1,81.0,0,0,1,Private,Urban,186.21,29.0,formerly smoked,1

In [107]:
numeric= pd.get_dummies(df1)
numeric

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1,67.0,0,1,1,228.69,36.6,1,0,1,0,0,0,1,0,1,0,0
1,1,1,80.0,0,1,1,105.92,32.5,1,0,1,0,0,1,0,0,0,1,0
2,2,0,49.0,0,0,1,171.23,34.4,1,0,1,0,0,0,1,0,0,0,1
3,3,0,79.0,1,0,1,174.12,24.0,1,0,0,1,0,1,0,0,0,1,0
4,4,1,81.0,0,0,1,186.21,29.0,1,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4976,4976,1,41.0,0,0,0,70.15,29.8,0,0,1,0,0,1,0,0,1,0,0
4977,4977,1,40.0,0,0,1,191.15,31.1,0,0,1,0,0,0,1,0,0,0,1
4978,4978,0,45.0,1,0,1,95.02,31.8,0,1,0,0,0,1,0,0,0,0,1
4979,4979,1,40.0,0,0,1,83.94,30.0,0,0,1,0,0,1,0,0,0,0,1
4980,4980,0,80.0,1,0,1,83.75,29.1,0,0,1,0,0,0,1,0,0,1,0

In [108]:
# Define features set
X = numeric.copy()
X.drop("stroke", axis=1, inplace=True)
X.head()

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1,67.0,0,1,1,228.69,36.6,0,1,0,0,0,1,0,1,0,0
1,1,1,80.0,0,1,1,105.92,32.5,0,1,0,0,1,0,0,0,1,0
2,2,0,49.0,0,0,1,171.23,34.4,0,1,0,0,0,1,0,0,0,1
3,3,0,79.0,1,0,1,174.12,24.0,0,0,1,0,1,0,0,0,1,0
4,4,1,81.0,0,0,1,186.21,29.0,0,1,0,0,0,1,0,1,0,0

In [109]:
# Define target vector
y = numeric["stroke"].values.reshape(-1, 1)
y[:5]

array([[1],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [110]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [111]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [112]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [113]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [114]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [115]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [116]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [117]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [118]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1176            1
Actual 1            0           69

Accuracy Score : 0.9991974317817014
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1177
           1       0.99      1.00      0.99        69

    accuracy                           1.00      1246
   macro avg       0.99      1.00      1.00      1246
weighted avg       1.00      1.00      1.00      1246