In [128]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [129]:
# Loading data
file_path = Path("Resources/clean_data.csv")
df1 = pd.read_csv(file_path)
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,1,1,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
2,2,0,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
3,3,0,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
4,4,1,81.0,0,0,1,Private,Urban,186.21,29.0,formerly smoked,1

In [130]:
df1.drop(columns=['id'], inplace = True)

In [131]:
numeric= pd.get_dummies(df1)
numeric

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1,67.0,0,1,1,228.69,36.6,1,0,1,0,0,0,1,0,1,0,0
1,1,80.0,0,1,1,105.92,32.5,1,0,1,0,0,1,0,0,0,1,0
2,0,49.0,0,0,1,171.23,34.4,1,0,1,0,0,0,1,0,0,0,1
3,0,79.0,1,0,1,174.12,24.0,1,0,0,1,0,1,0,0,0,1,0
4,1,81.0,0,0,1,186.21,29.0,1,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,70.15,29.8,0,0,1,0,0,1,0,0,1,0,0
4977,1,40.0,0,0,1,191.15,31.1,0,0,1,0,0,0,1,0,0,0,1
4978,0,45.0,1,0,1,95.02,31.8,0,1,0,0,0,1,0,0,0,0,1
4979,1,40.0,0,0,1,83.94,30.0,0,0,1,0,0,1,0,0,0,0,1
4980,0,80.0,1,0,1,83.75,29.1,0,0,1,0,0,0,1,0,0,1,0

In [132]:
# Define features set
X = numeric.copy()
X.drop("stroke", axis=1, inplace=True)
X.head()

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1,67.0,0,1,1,228.69,36.6,0,1,0,0,0,1,0,1,0,0
1,1,80.0,0,1,1,105.92,32.5,0,1,0,0,1,0,0,0,1,0
2,0,49.0,0,0,1,171.23,34.4,0,1,0,0,0,1,0,0,0,1
3,0,79.0,1,0,1,174.12,24.0,0,0,1,0,1,0,0,0,1,0
4,1,81.0,0,0,1,186.21,29.0,0,1,0,0,0,1,0,1,0,0

In [133]:
# Define target vector
y = numeric["stroke"].values .reshape(-1, 1)
y

array([[1],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [140]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, train_size=0.5)

In [141]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [142]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [143]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [144]:
# Creating the Random Forest classifier instance
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [145]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

C:\Users\Celvir\AppData\Local\Temp\ipykernel_30060\478868177.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model = rf_model.fit(X_train_scaled, y_train)

In [146]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [147]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [149]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2360            2
Actual 1          129            0

Accuracy Score : 0.9474106784423926
Classification Report
              precision    recall  f1-score   support

           0       0.95      1.00      0.97      2362
           1       0.00      0.00      0.00       129

    accuracy                           0.95      2491
   macro avg       0.47      0.50      0.49      2491
weighted avg       0.90      0.95      0.92      2491

# Oversampling the data

In [150]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_res, y_res = ros.fit_resample(X, y)

In [151]:
# Count the distinct values of the resampled labels data
pd.value_counts(y_res)

1    4733
0    4733
dtype: int64

In [152]:

# Fitting Standard Scaller
#X_scaler = scaler.fit(X_res)
# Scaling data
X_train_scaled = X_scaler.transform(X_res)
X_test_scaled = X_scaler.transform(X_test)

In [153]:
# Creating the Random Forest classifier instance
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_res)
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [154]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [155]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2362            0
Actual 1            0          129

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2362
           1       1.00      1.00      1.00       129

    accuracy                           1.00      2491
   macro avg       1.00      1.00      1.00      2491
weighted avg       1.00      1.00      1.00      2491